<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         failOnWarning="false"
         failOnDeprecation="false"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
  <testsuites>
    <testsuite name="Renoki Co Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <php>
    <server name="APP_ENV" value="testing"/>
  </php>
</phpunit>
